@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DMSerif";
  src: local("DMSerifDisplay"),
    url("./assets/fonts/DMSerifDisplay.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: local("inter"), url("./assets/fonts/inter.ttf") format("truetype");
}

/* ImageUploader.css */

.image-item {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-thumbnail {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.delete-button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 4px;

  transition: opacity 0.3s;
  opacity: 0;
}

.image-item:hover .delete-button {
  opacity: 1;
}

.placeholder-black::placeholder {
  color: rgba(0, 0, 0, 0.16);
}
